/* AOS Core CSS */
[data-aos] {
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: ease;
}

[data-aos].aos-animate {
  opacity: 1;
}

[data-aos="fade-up"] {
  transform: translate3d(0, 40px, 0);
}

[data-aos="fade-down"] {
  transform: translate3d(0, -40px, 0);
}

[data-aos="fade-left"] {
  transform: translate3d(40px, 0, 0);
}

[data-aos="fade-right"] {
  transform: translate3d(-40px, 0, 0);
}

